
# =========================
# Ignore OS X Files
# =========================

.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

# =========================
# Ignore Others
# =========================

.*.sw[op]
.sass-cache
*.scssc
.env.*.php
.env.php

composer.phar
composer.lock

# =========================
# Ignore Folders
# =========================

/.idea
/_design
api/bootstrap/compiled.php
api/vendor
node_modules
bower_components
vids