<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en" ng-app="app"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en" ng-app="app"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en" ng-app="app"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="app"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Melissa Leith</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <!-- build:css inc/app.min.css -->
  <link rel="stylesheet" href="css/app.css">
  <!-- endbuild -->

  <!-- build:mover bower_components/modernizr/modernizr.js -->
	<script src="bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body ng-controller="BaseController">

	<!--<div ng-include="'partials/menu.html'"></div>-->

	<aside ng-controller="MenuController">
		<a class="logo" ui-sref="design"><img src="img/logo.png" alt="Melissa Leith: Design and Photography"></a>
		<ul>
			<li class="more"><a ui-sref="design" ng-class="{bold : $state.is('design')}">DESIGN</a></li>
			<ul ng-show="$state.is('design-gallery')">
				<li ng-repeat="gallery in galleries.design"><a ui-sref="design-gallery({gallerySlug: gallery.slug})" ng-class="{bold : $state.params.gallerySlug == gallery.slug}">{{ gallery.short_title }}</a></li>
			</ul>
			<li class="more"><a ui-sref="photography" ng-class="{bold : $state.is('photography')}">PHOTOGRAPHY</a></li>
			<ul ng-show="$state.is('photo-gallery') ||
						$state.is('photography')"> <!-- Here for testing; TODO: remove -->
				<li ng-repeat="gallery in galleries.photo"><a ui-sref="photo-gallery({gallerySlug: gallery.slug})" ng-class="{bold : $state.params.gallerySlug == gallery.slug}">{{ gallery.short_title }}</a></li>
			</ul>
			<li><a ui-sref="video" ng-class="{bold : $state.is('video')}">VIDEO</a></li>
			<li>BLOG</li>
			<li>ABOUT</li>
			<li>CONTACT</li>
		</ul>
	</aside>

	<div ui-view></div>

	<!-- build:mover bower_components/jquery/dist/jquery.min.js -->
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<!-- endbuild -->
	<!-- build:mover bower_components/angular/angular.min.js -->
	<script src="bower_components/angular/angular.min.js"></script>
	<!-- endbuild -->
	<!-- build:mover bower_components/angular-resource/angular-resource.min.js -->
	<script src="bower_components/angular-resource/angular-resource.min.js"></script>
	<!-- endbuild -->
	<!-- build:mover bower_components/angular-ui-router/release/angular-ui-router.min.js -->
	<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
	<!-- endbuild -->
	<!-- build:mover bower_components/angular-deckgrid/angular-deckgrid.js -->
	<script src="bower_components/angular-deckgrid/angular-deckgrid.js"></script>
	<!-- endbuild -->
	<!-- build:js inc/app.min.js -->
	<script src="js/ng-app.js"></script>
	<script src="js/ng-services.js"></script>
	<script src="js/ng-filters.js"></script>
	<script src="js/ng-controllers.js"></script>
	<!-- endbuild -->
	<!-- TODO Production: replace GA code -->
	<!-- replace:ga (UA-XXXXXXXX-X) -->
</body>
</html>