/**
 * Font Faces
 */
@font-face {
  font-family: "proxima";
  src: url("../assets/proxima/ProximaNova-Regular.otf");
  font-weight: normal; }

@font-face {
  font-family: "proxima";
  src: url("../assets/proxima/ProximaNova-Bold.otf");
  font-weight: bold; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

.bold {
  font-weight: bold; }

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "proxima", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.content {
  margin: 3.95rem auto 1.42857rem 20rem;
  max-width: 1200px; }
  @media screen and (max-width: 760px) {
    .content {
      margin-left: auto; } }

/**
 * Side Menu
 */
aside {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 25px;
  padding: 3.95rem 2.2rem 2.2rem;
  height: 100%;
  width: 240px;
  letter-spacing: .15em;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll; }
  aside a {
    text-decoration: none; }
    aside a:hover {
      font-weight: bold; }
  aside .logo {
    display: block;
    padding: 0;
    margin-bottom: 1.5rem; }
    aside .logo img {
      width: 100%;
      margin: 0;
      padding: 0;
      display: block; }
  aside ul {
    list-style: none; }
  aside > ul {
    padding-left: 20px;
    font-size: 0.9rem; }
  aside li {
    position: relative;
    text-transform: uppercase; }
    aside li.more::before {
      content: "+";
      position: absolute;
      top: -2px;
      left: -22px; }
  aside ul ul {
    font-size: 0.78rem;
    margin: 0 0 15px 0;
    padding: 0 0 0 12px;
    line-height: 2em;
    letter-spacing: 0.12em; }
    aside ul ul li {
      margin: 0;
      padding: 0; }
  @media screen and (max-width: 760px) {
    aside {
      display: none; } }

/**
 * Design Grid
 */
.designGrid .container {
  display: inline-block;
  padding: 0 0.857rem 0.857rem;
  margin-bottom: 1.42857rem;
  width: 32%;
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: .1em; }
  .designGrid .container img {
    width: 100%; }
  .designGrid .container p {
    margin: 0.514rem 0 0 0; }
  @media screen {
    @media (max-width: 1000px) {
      .designGrid .container {
        width: 49%; } }
    @media (max-width: 510px) {
      .designGrid .container {
        width: 100%; } } }
.designGrid a.container img:hover {
  opacity: .84; }

/**
 * Gallery View
 */
.content-full {
  margin-left: 19rem;
  margin-top: 3.95rem;
  white-space: nowrap; }
  .content-full .container {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: .9rem; }
    .content-full .container:last-of-type {
      margin-right: 50px; }
    .content-full .container img {
      display: inline;
      height: 600px;
      padding: 0;
      margin: 0; }
    .content-full .container video {
      height: 600px; }
    .content-full .container video::-webkit-media-controls-fullscreen-button {
      display: none; }
  @media screen and (max-width: 760px) {
    .content-full {
      margin-left: 2rem; } }

/**
 * Photography Grid
 */
.photoWall .gutter-sizer {
  width: 24px; }
.photoWall .masonry-brick {
  width: calc(25% - 24px);
  margin-bottom: 20px; }
  .photoWall .masonry-brick img {
    width: 100%; }
  @media screen and (max-width: 1150px) {
    .photoWall .masonry-brick {
      width: calc(33.33333% - 24px); } }
  @media screen and (max-width: 980px) {
    .photoWall .masonry-brick {
      width: calc(50% - 24px); } }
  @media screen and (max-width: 510px) {
    .photoWall .masonry-brick {
      width: calc(100% - 24px); } }
@media screen and (max-width: 760px) {
  .photoWall {
    margin-left: 24px; } }

/**
 * About Page
 */
.about {
  margin-top: 3.95rem;
  margin-right: 6rem;
  letter-spacing: .03em;
  line-height: 1.3em;
  font-size: 1.08rem;
  color: #777; }
  .about::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  .about .portrait, .about .description {
    float: left; }
  .about .portrait {
    width: 60%;
    max-width: 560px; }
    .about .portrait img {
      width: 100%; }
  .about .description {
    width: 40%;
    padding-left: 2rem; }
    .about .description p:first-of-type {
      margin-top: -3px; }
    .about .description .icons {
      margin-top: 1.3rem; }
      .about .description .icons a {
        width: 1.4rem;
        display: inline-block;
        margin-right: 0.8rem; }
        .about .description .icons a img {
          width: 100%; }
  .about #instagram-feed .feed-card {
    margin-right: 10px;
    padding-right: 0px;
    width: calc(33.3333% - 10px);
    float: left; }
    .about #instagram-feed .feed-card img {
      width: 100%; }
  @media screen and (max-width: 1150px) {
    .about .portrait {
      width: 50%; }
    .about .description {
      width: 50%; } }
  @media screen and (max-width: 1000px) {
    .about .portrait, .about .description {
      float: none;
      width: 100%; }
    .about .portrait {
      margin-bottom: 2rem;
      max-width: 100%; }
    .about .description {
      padding-right: 2rem; } }
  @media screen and (max-width: 760px) {
    .about {
      margin-right: 2rem;
      margin-left: 2rem; }
      .about .description {
        padding: 0; } }
