/**
 * Font Faces
 */
@font-face {
  font-family: "proxima";
  src: url("../assets/proxima/ProximaNova-Light.otf");
  font-weight: normal; }

@font-face {
  font-family: "proxima";
  src: url("../assets/proxima/ProximaNova-LightItalic.otf");
  font-style: italic; }

@font-face {
  font-family: "proxima";
  src: url("../assets/proxima/ProximaNova-Bold.otf");
  font-weight: bold; }

* {
  box-sizing: border-box; }

a {
  color: inherit; }

.bold {
  font-weight: bold; }

html, body {
  margin: 0 auto;
  padding: 0;
  font-family: "proxima", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.content {
  margin: 3.95rem auto 1.42857rem 20rem;
  max-width: 1200px; }
  @media screen and (max-width: 760px) {
    .content {
      margin-left: auto; } }

.no-scroll {
  overflow: hidden; }

.button {
  padding: .5rem .7rem;
  text-align: center;
  background: -webkit-linear-gradient(bottom, #ccc, #eee);
  background: linear-gradient(to top, #ccc, #eee);
  margin: auto 3px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #777;
  color: #111;
  opacity: 0.9;
  text-shadow: rgba(200, 200, 200, 0.6) .5px .5px 0;
  cursor: pointer; }

.button:hover {
  opacity: 1; }

.button-tiny {
  font-weight: bold; }

.button-warn {
  background-color: #ffb854;
  background: -webkit-linear-gradient(bottom, #ffb854, #ffd478);
  background: linear-gradient(to top, #ffb854, #ffd478);
  border-color: #ff9d2b; }

.button-negative {
  background-color: #ff4536;
  background: -webkit-linear-gradient(bottom, #ff675f, #ff7a6e);
  background: linear-gradient(to top, #ff675f, #ff7a6e);
  border-color: #772f32; }

.button-positive {
  background-color: #54d765;
  background: -webkit-linear-gradient(bottom, #54d765, #89e081);
  background: linear-gradient(to top, #54d765, #89e081);
  border-color: #54d765; }

.popover {
  background-color: white;
  color: black;
  padding: .8rem .5rem;
  border: 1px solid #111;
  box-shadow: 1px 1px 4px #111;
  border-radius: 2px;
  background-clip: padding-box;
  z-index: 1000; }
  .popover::after, .popover::before {
    border: 8px solid transparent;
    content: "";
    position: absolute;
    height: 0;
    width: 0; }
  .popover.popover-top::after, .popover.popover-top::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: -8px; }
  .popover.popover-top::before {
    border-bottom: 8px solid #111;
    margin-top: -9px; }
  .popover.popover-top::after {
    border-bottom: 8px solid white;
    margin-top: -8px; }
  .popover.popover-left::after, .popover.popover-left::before {
    top: 11px;
    left: -8px; }
  .popover.popover-left::before {
    border-right: 8px solid #111;
    margin-left: -9px; }
  .popover.popover-left::after {
    border-right: 8px solid white;
    margin-left: -8px; }

.popover-edit-bar {
  position: absolute;
  top: -25px;
  left: 2.5rem; }

.popover-edit-bar-confirm {
  position: absolute;
  top: 5.4rem;
  left: 2.5rem;
  text-align: center;
  padding: .8rem; }
  .popover-edit-bar-confirm p {
    margin: .5rem; }

.modal-overlay {
  position: fixed;
  z-index: 900;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(220, 220, 220, 0.4);
  overflow: hidden;
  cursor: pointer; }

.modal, .modal-close-button {
  width: 45%;
  max-width: 30rem; }

.modal, .modal-close-button::before {
  box-shadow: 0 0 10px #777; }

.modal, .modal-close-button::after, .modal-close-button::before {
  background-color: white; }

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  padding: 1.3rem .8rem;
  overflow: scroll; }

.modal-close-button {
  position: fixed;
  right: 0;
  top: 0;
  color: black;
  z-index: 1001; }
  .modal-close-button::after, .modal-close-button::before {
    position: absolute;
    top: 1.3rem;
    display: block;
    height: 2.5rem; }
  .modal-close-button::after {
    content: "";
    width: 0.9rem;
    left: -3px; }
  .modal-close-button::before {
    content: "x";
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer;
    width: 2rem;
    left: -2rem; }

/**
 * Animations
 */
.modal-view-container, .modal, .modal-close-button {
  -webkit-transition: .2s ease-out -webkit-transform;
          transition: .2s ease-out transform; }

.modal-view-container.ng-enter .modal, .modal-view-container.ng-enter .modal-close-button {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

.modal-view-container.ng-enter.ng-enter-active .modal, .modal-view-container.ng-enter.ng-enter-active .modal-close-button {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.modal-view-container.ng-leave .modal, .modal-view-container.ng-leave .modal-close-button {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }

.modal-view-container.ng-leave.ng-leave-active .modal, .modal-view-container.ng-leave.ng-leave-active .modal-close-button {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%); }

/**
 * Side Menu
 */
aside {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 25px;
  padding: 3.95rem 2.2rem 2.2rem;
  height: 100%;
  width: 240px;
  letter-spacing: .15em;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: scroll; }
  aside a {
    text-decoration: none; }
    aside a:hover {
      font-weight: bold; }
  aside .logo {
    display: block;
    padding: 0;
    margin-bottom: 1.5rem; }
    aside .logo img {
      width: 100%;
      margin: 0;
      padding: 0;
      display: block; }
  aside ul {
    list-style: none; }
  aside > ul {
    padding-left: 20px;
    font-size: 0.9rem; }
  aside li {
    position: relative;
    text-transform: uppercase; }
    aside li.more::before {
      content: "+";
      position: absolute;
      top: -2px;
      left: -22px; }
  aside ul ul {
    font-size: 0.78rem;
    margin: 0 0 15px 0;
    padding: 0 0 0 12px;
    line-height: 2em;
    letter-spacing: 0.12em; }
    aside ul ul li {
      margin: 0;
      padding: 0; }
  @media screen and (max-width: 760px) {
    aside {
      display: none; } }

/**
 * Design Grid
 */
.grid-container, .grid-link {
  display: inline-block; }

.grid-container {
  margin-bottom: 1.42857rem;
  width: 32%;
  z-index: 10;
  padding: 0 0.857rem 0.857rem; }
  @media screen {
    @media (max-width: 1000px) {
      .grid-container {
        width: 49%; } }
    @media (max-width: 510px) {
      .grid-container {
        width: 100%; } } }

.grid-link {
  text-decoration: none;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  color: inherit;
  text-align: center; }
  .grid-link > img {
    width: 100%; }
  .grid-link > p {
    margin: 0.514rem 0 0 0; }
  .grid-link:hover > img {
    opacity: .84; }

.gallery-add-ratio {
  width: 100%;
  position: relative;
  padding-top: 66.66%; }

.gallery-add-shape {
  display: block;
  background-color: #eee;
  width: 100%;
  border: 3px dashed #ddd;
  font-size: 6em;
  position: absolute;
  top: -3px;
  bottom: 3px;
  left: -3px;
  right: 3px;
  height: 100%; }
  .gallery-add-shape::after {
    content: "+";
    text-align: center;
    display: block;
    color: #ccc;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .gallery-add-shape:hover {
    background-color: #e6e6e6;
    color: #ccc; }

.edit-bar {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 1.5rem;
  height: 1.5rem;
  width: 100%;
  z-index: 20;
  color: white; }
  .edit-bar .fa {
    margin-top: .3rem; }

.edit-bar-button {
  display: inline-block;
  height: 100%;
  width: 2rem;
  text-align: center;
  cursor: pointer; }

.edit-bar-button-menu {
  float: none; }

.edit-bar-button-drag {
  cursor: move;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

.edit-bar-menu {
  list-style: none;
  padding: .6rem .1rem; }
  .edit-bar-menu .fa {
    margin-right: .5rem; }
  .edit-bar-menu li {
    padding: .5rem 1rem .5rem .7rem;
    cursor: pointer; }
  .edit-bar-menu li:hover .fa, .edit-bar-menu .edit-bar-menu-confirm {
    color: red; }

/**
 * Gallery View
 */
.content-full {
  margin-left: 19rem;
  margin-top: 3.95rem;
  white-space: nowrap; }
  .content-full .container {
    display: inline-block;
    margin: 0 4px;
    padding: 0;
    text-decoration: none;
    color: inherit;
    text-align: center;
    font-size: .9rem;
    height: 85vh;
    max-height: 600px;
    width: auto;
    vertical-align: top; }
    .content-full .container:last-of-type {
      margin-right: 50px; }
    .content-full .container article {
      width: 557px;
      height: 100%;
      padding: 0;
      margin: 0;
      padding-top: 20.6%;
      white-space: normal;
      background-color: #333;
      color: white;
      position: relative; }
      .content-full .container article section {
        margin: 0 auto;
        text-align: center; }
      .content-full .container article .head, .content-full .container article .foot {
        text-transform: uppercase; }
      .content-full .container article .subtitle, .content-full .container article .body {
        max-width: 70%; }
      .content-full .container article .head {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        font-size: 3.5rem;
        line-height: 1.5em;
        display: inline-block;
        padding: 0.13em 15px 0;
        letter-spacing: 0.2em; }
      .content-full .container article .subtitle {
        margin-top: 4rem;
        font-size: 1.5rem;
        font-style: italic; }
      .content-full .container article .body {
        margin: 1.9rem auto 0;
        letter-spacing: 0.02em;
        line-height: 1.2em;
        font-size: 0.87rem; }
      .content-full .container article .foot {
        position: absolute;
        bottom: 1.2rem;
        left: 0;
        right: 0;
        font-size: 1.1rem;
        letter-spacing: 0.2em; }
    .content-full .container .video-frame, .content-full .container .poster-image > img, .content-full .container video {
      height: 100%;
      position: relative; }
    .content-full .container .video-frame .play-button {
      width: 140px;
      height: 90px;
      background-color: rgba(20, 20, 20, 0.8);
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -45px auto auto -70px;
      border-radius: 5px;
      z-index: 100; }
      .content-full .container .video-frame .play-button::after {
        content: "";
        background: url('../img/play.png') no-repeat;
        background-size: cover;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -25px auto 0;
        height: 50px;
        width: 50px; }
      .content-full .container .video-frame .play-button:hover {
        cursor: pointer; }
    .content-full .container .video-frame video {
      display: none; }
    .content-full .container img {
      display: inline;
      height: 100%;
      padding: 0;
      margin: 0; }
  @media screen and (max-width: 760px) {
    .content-full {
      margin-left: 2rem; } }

/**
 * Photography Grid
 */
.photoWall .gutter-sizer {
  width: 24px; }
.photoWall .masonry-brick {
  width: calc(25% - 24px);
  margin-bottom: 20px; }
  .photoWall .masonry-brick img {
    width: 100%; }
  @media screen and (max-width: 1150px) {
    .photoWall .masonry-brick {
      width: calc(33.33333% - 24px); } }
  @media screen and (max-width: 980px) {
    .photoWall .masonry-brick {
      width: calc(50% - 24px); } }
  @media screen and (max-width: 510px) {
    .photoWall .masonry-brick {
      width: calc(100% - 24px); } }
@media screen and (max-width: 760px) {
  .photoWall {
    margin-left: 24px; } }

/**
 * About Page
 */
.about {
  margin-top: 3.95rem;
  margin-right: 6rem;
  letter-spacing: .03em;
  line-height: 1.3em;
  font-size: 1.08rem;
  color: black; }
  .about::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ".";
    clear: both;
    height: 0; }
  .about .portrait, .about .description {
    float: left; }
  .about .portrait {
    width: 60%;
    max-width: 560px; }
    .about .portrait img {
      width: 100%; }
  .about .description {
    width: 40%;
    padding-left: 2rem; }
    .about .description p:first-of-type {
      margin-top: -3px; }
    .about .description .icons {
      margin-top: 1.3rem; }
      .about .description .icons a {
        width: 1.4rem;
        display: inline-block;
        margin-right: 0.8rem; }
        .about .description .icons a img {
          width: 100%; }
  .about #instagram-feed .feed-card {
    margin-right: 10px;
    padding-right: 0px;
    width: calc(33.3333% - 10px);
    float: left; }
    .about #instagram-feed .feed-card img {
      width: 100%; }
  @media screen and (max-width: 1150px) {
    .about .portrait {
      width: 50%; }
    .about .description {
      width: 50%; } }
  @media screen and (max-width: 1000px) {
    .about .portrait, .about .description {
      float: none;
      width: 100%; }
    .about .portrait {
      margin-bottom: 2rem;
      max-width: 100%; }
    .about .description {
      padding-right: 2rem; } }
  @media screen and (max-width: 760px) {
    .about {
      margin-right: 2rem;
      margin-left: 2rem; }
      .about .description {
        padding: 0; } }

.form-content, .form-input {
  text-align: left;
  font-size: 1.2rem;
  line-height: 1.4em; }

.form-button:hover, .form-uploader, .form-label {
  cursor: pointer; }

.form-label.no-pointer {
  cursor: initial; }

.form-block {
  display: block;
  margin: 0 auto;
  padding: 1rem; }
  .form-block.first {
    padding-top: 0; }
  .form-block.last {
    padding-bottom: 0; }

.form-error {
  background-color: tomato;
  margin-bottom: 1rem;
  padding: 0.3rem 1rem;
  color: white;
  word-wrap: break-word; }

.form-label, .form-input, .form-select {
  display: block;
  width: 100%; }

.form-input {
  font-family: "proxima", Helvetica, Arial, sans-serif;
  line-height: 1.7em;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px; }
  .form-input.border {
    border: 1px solid #434343; }
  .form-input.inline {
    display: inline; }
  .form-input.hidden {
    display: none;
    visibility: hidden; }

.form-radio {
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 0 10px 0 24px;
  top: -2px; }

.form-select {
  font-size: 1.3rem;
  height: 2em; }

.form-color {
  height: 50px;
  width: 100px;
  padding: 0;
  border: none;
  background-color: white; }

.form-button {
  background-color: #eee;
  border: 1px solid #999;
  font-size: 1rem;
  padding: 0.3em 0.8em; }
  .form-button:hover {
    background-color: #ddd; }

.form-uploader-ratio {
  width: 100%;
  position: relative;
  padding-top: 66.66%; }

.form-uploader {
  display: block;
  border: 6px dashed #ccc;
  color: #ccc;
  background-color: #eee;
  font-size: 5em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%; }
  .form-uploader.add-sign::after {
    content: "+";
    text-align: center;
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .form-uploader.dragging {
    background-color: #ddd; }
  .form-uploader > img {
    width: 100%;
    display: block; }
