<div class="content about">
	<div class="portrait">
		<img src="uploads/_misc/Melissa.jpg">
	</div>
	<div class="description">
		<p>
			<strong>Hello,</strong> I am Melissa Leith. I'm a graphic designer and
			photographer from Seattle, WA. I am currently working on my BDes in
			Visual Communication Design and will graduate from the
			University of Washington Spring 2015. When I'm not designing or taking photos,
			you can find me outside, out to eat, or on a sunny front porch. Every room
			in my home has something green and living, I'm jealous of Bernese Mountain
			dog owners, and I'm always planning a trip to the desert.
		</p>
		<p>
			<br>
			Please don't hesitate to send me an email:<br>
			<a href="mailto:melissa.leith@gmail.com">melissa.leith@gmail.com</a>
		</p>
		<p class="icons">
			<a href="https://www.facebook.com/melissa.leith.9" target="_blank"><img src="img/facebook.png"></a>
			<a href="https://instagram.com/melissaleith/" target="_blank"><img src="img/instagram.png"></a>
			<a href="https://pinterest.com/melissaleith/" target="_blank"><img src="img/pinterest.png"></a>
		</p>
		<div id="instagram-feed">
			<a ng-repeat="gram in instagrams" class="feed-card" ng-href="{{ gram.link }}" target="_blank"><img ng-src="{{ gram.images.thumbnail.url }}"></a>
		</div>
	</div>
</div>