<div class="content-full">
	<div class="container" ng-repeat="entry in entries" ng-switch="entry.is_vidOrText">
		<article ng-switch-when="2" ng-style="{'background-color': '#{{entry.bgColor}}'}">
			<section class="head">{{ entry.title }}</section>
			<section class="subtitle">{{ entry.subtitle }}</section>
			<section class="body">{{ entry.body }}</section>
			<section class="foot">{{ entry.footer }}</section>
		</article>
		<video ng-switch-when="1"
					 ng-attr-poster="{{ entry.location }}-poster.jpg"
					 controls
					 ng-src="{{ entry.location }}"
					 type="video/mp4">
		</video>
		<img ng-switch-default ng-src="{{ entry.location }}">
	</div>
</div>