<div class="content-full">
	<a ng-if="Auth.isAuth"
		 class="list-view_edit-button"
		 ui-sref="design-entries.edit">Edit Entries</a>
	<div id="{{entry.id}}" class="container" ng-repeat="entry in entries" ng-switch="entry.type">
		<article ng-switch-when="2" ng-style="{'background-color': '{{entry.bgColor}}'}">
			<section class="head">{{ entry.title }}</section>
			<section class="subtitle">{{ entry.subtitle }}</section>
			<section class="body">{{ entry.body }}</section>
			<section class="foot">{{ entry.footer }}</section>
		</article>

		<video-player video="entry" ng-switch-when="1"></video-player>

		<img ng-switch-when="0" ng-src="{{ entry.image_url }}">
	</div>
</div>