<div class="content designGrid">
	<span sv-root sv-on-sort="updateSort(galleries.design)" sv-part="galleries.design">
		<div ng-repeat="gallery in galleries.design | orderBy : 'sort_pos' track by $index"
				 class="grid-container" sv-element>
			<div ng-if="Auth.isAuth" class="edit-bar" edit-bar-gallery ></div>
			<a ui-sref="design-gallery({ gallerySlug: gallery.slug })"
				 class="grid-link">
				<img draggable="false" ng-src="uploads/design-home/{{ gallery.image }}">
				<p>{{ gallery.title }}</p>
			</a>
		</div>
	</span>
	<a ng-if="Auth.isAuth" ui-sref="design.add-gallery" class="grid-container grid-link">
		<div class="gallery-add-ratio">
			<div class="gallery-add-shape"></div>
		</div>
		<p>Add Gallery</p>
	</a>
	<div ui-view class="modal-view-container"></div>
</div>