<div class="content-full">
	<a ng-if="Auth.isAuth"
		 class="list-view_edit-button"
		 ui-sref="design-entries.edit">Edit Entries</a>
	<div id="{{entry.id}}" class="container" ng-repeat="entry in entries" ng-switch="entry.type">
		<article ng-switch-when="2" ng-style="{'background-color': '{{entry.bgColor}}'}">
			<section class="head">{{ entry.title }}</section>
			<section class="subtitle">{{ entry.subtitle }}</section>
			<section class="body">{{ entry.body }}</section>
			<section class="foot">{{ entry.footer }}</section>
		</article>
		<div class="video-frame" ng-switch-when="1">
			<img class="poster-image" ng-src="{{entry.image}}-poster.jpg">
			<div class="play-button"
					 ng-click="playVideo($index)">
			</div>
			<video controls>
				<source ng-src="{{entry.image}}" type="video/mp4">
			</video>
		</div>
		<img ng-switch-default ng-src="{{ entry.image }}">
	</div>
</div>