<div modal>
	<form class="form-content modal">
		<div class="form-block form-error" ng-show="error">
			<p>{{ error }}</p>
		</div>
		<div class="form-block first">
			<label for="title" class="form-label">Title</label>
			<input ng-model="formData.title"
						 id="title"
						 class="form-input border"
						 placeholder="Digital Design Work for Humanity"
						 type="text"
						 required>
		</div>
		<div class="form-block">
			<label for="short_title" class="form-label">Menu Title</label>
			<input ng-model="formData.short_title"
						 id="short_title"
						 class="form-input border"
						 placeholder="Digital Design"
						 required
						 type="text">
		</div>
		<div class="form-block">
			<label for="slug" class="form-label">Slug</label>
			<input ng-model="formData.slug"
						 id="slug"
						 class="form-input border"
						 placeholder="digidesign"
						 required
						 type="text">
		</div>
		<div class="form-block">
			<label class="form-label">Image</label>
			<div class="form-uploader-ratio">
				<div class="form-uploader"
						 ng-class="{'add-sign': !formData.image}"
						 image-uploader form-data="formData" image-uploader-image="uploads/design-home/{{formData.image}}">
				</div>
			</div>
		</div>
		<div class="form-block last">
			<input class="form-button"
						 type="button"
						 ng-click="clear()"
						 value="Clear">

			<input class="form-button"
						 type="submit"
						 ng-click="update(formData)"
						 value="Update">
		</div>
	</form>
</div>