<div class="content designGrid">
	<a href="#/valise" class="container">
		<img src="assets/imgs/design-home/DesignHome1.jpg">
		<p>VALISE - A TRAVEL APP</p>
	</a>
	<a href="#/sorted" class="container">
		<img src="assets/imgs/design-home/DesignHome2.jpg">
		<p>SORTED</p>
	</a>
	<a href="#/typography" class="container">
		<img src="assets/imgs/design-home/DesignHome3.jpg">
		<p>TYPOGRAPHY</p>
	</a>
	<a href="#/path" class="container">
		<img src="assets/imgs/design-home/DesignHome4.jpg">
		<p>PATH - SYMBOL SET</p>
	</a>
	<div href="" class="container">
		<img src="assets/imgs/design-home/DesignHome5.jpg">
		<p>SUBSPLASH - INTERNSHIP WORK</p>
	</div>
	<div href="" class="container">
		<img src="assets/imgs/design-home/DesignHome6.jpg">
		<p>ACOBA FAMILY COFFEE HOUSE</p>
	</div>
	<div href="" class="container">
		<img src="assets/imgs/design-home/DesignHome7.jpg">
		<p>SUCCULENT CONTAINER GARDENS</p>
	</div>
	<a href="#/pbr" class="container">
		<img src="assets/imgs/design-home/DesignHome8.jpg">
		<p>PILL BOTTLE REDESIGN</p>
	</a>
	<a href="#/docs" class="container">
		<img src="assets/imgs/design-home/DesignHome9.jpg">
		<p>DR. MARTENS BRAND PLATFORM</p>
	</a>
</div>