<div class="content designGrid">
	<div ng-repeat="gallery in galleries.design | orderBy : 'sort_pos' track by $index"
			 class="grid-container">
		<div ng-if="Auth.isAuth()" class="edit-bar" edit-bar-gallery ></div>
		<a ui-sref="design-gallery({ gallerySlug: gallery.slug })"
			 class="grid-link">
			<img ng-src="uploads/design-home/{{ gallery.image }}">
			<p>{{ gallery.title }}</p>
		</a>
	</div>
	<a ng-if="Auth.isAuth()" ui-sref="design.add-gallery" class="grid-container grid-link">
		<div class="gallery-add-ratio">
			<div class="gallery-add-shape"></div>
		</div>
		<p>Add Gallery</p>
	</a>
	<div ui-view class="modal-view-container"></div>
</div>