<div ng-if="Auth.isAuth" class="content designGrid">
	<a class="list-view_edit-button"
		 ui-sref="design-galleries.list">X</a>
	<span sv-root sv-on-sort="updateSort(galleries.design)" sv-part="galleries.design">
		<div ng-repeat="gallery in galleries.design | orderBy : 'sort_pos' track by $index"
				 class="grid-container grid-container__edit" sv-element>
			<div class="edit-bar" design-gallery-edit-bar></div>
			<a ui-sref="design-entries.list({ gallerySlug: gallery.slug })"
				 class="grid-link">
				<img draggable="false" ng-src="uploads/design-home/{{ gallery.image }}">
				<p>{{ gallery.title }}</p>
			</a>
		</div>
	</span>
	<a ui-sref="design-galleries.edit.add-gallery" class="grid-container grid-container__edit grid-link">
		<div class="gallery-add-ratio">
			<div class="gallery-add-shape"></div>
		</div>
		<p>Add Gallery</p>
	</a>
	<div ui-view class="modal-view-container"></div>
</div>