<aside>
	<a class="logo" ui-sref="design-galleries"><img src="img/logo.png" alt="Melissa Leith: Design and Photography"></a>
	<ul>
		<li class="more"><a ui-sref="design-galleries" ng-class="{bold : $state.is('design-galleries')}">DESIGN</a></li>
		<ul ng-show="$state.is('design-entries')">
			<li ng-repeat="gallery in galleries.design"><a ui-sref="design-entries({gallerySlug: gallery.slug})" ng-class="{bold : $state.params.gallerySlug == gallery.slug}">{{ gallery.short_title }}</a></li>
		</ul>
		<li class="more"><a ui-sref="photography" ng-class="{bold : $state.is('photography')}">PHOTOGRAPHY</a></li>
		<ul ng-show="$state.is('photo-gallery') ||
						$state.is('photography')"> <!-- Here for testing; TODO: remove -->
			<li ng-repeat="gallery in galleries.photo"><a ui-sref="photo-gallery({gallerySlug: gallery.slug})" ng-class="{bold : $state.params.gallerySlug == gallery.slug}">{{ gallery.short_title }}</a></li>
		</ul>
		<li><a ui-sref="video" ng-class="{bold : $state.is('video')}">VIDEO</a></li>
		<li><a ui-sref="about" ng-class="{bold : $state.is('about')}">ABOUT</a></li>
	</ul>
	<ul ng-show="Auth.isAuth" class="menu-footer">
		<a ui-sref="change-pass"><li>Change Password</li></a>
		<a ui-sref="logout"><li>Logout</li></a>
	</ul>
</aside>