<div class="content-full">
	<div class="container video">
		<video poster="assets/vids/martens-poster.jpg" controls>
			<source src="assets/vids/DrMartensIdentityRebrand.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/unpack-poster.jpg" controls>
			<source src="assets/vids/Unpack.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/lighthouse-poster.jpg" controls>
			<source src="assets/vids/CaptainJoeWubbold-InTheirShoes.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/switch-poster.jpg" controls>
			<source src="assets/vids/SWITCHFinal.mp4" type="video/mp4">
		</video>
	</div>
</div>