<div class="content-full">
	<div class="container video">
		<video poster="assets/vids/docs.mp4-poster.jpg" controls>
			<source src="assets/vids/docs.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/unpack.mp4-poster.jpg" controls>
			<source src="assets/vids/unpack.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/lighthouse.mp4-poster.jpg" controls>
			<source src="assets/vids/lighthouse.mp4" type="video/mp4">
		</video>
	</div>
	<div class="container video">
		<video poster="assets/vids/switch.mp4-poster.jpg" controls>
			<source src="assets/vids/switch.mp4" type="video/mp4">
		</video>
	</div>
</div>