/**
 * Font Faces
 */
 @font-face {
	font-family: "univers";
	src: url("../assets/univers/UniversLTStd-LightCn.otf");
	font-weight: normal;
}
@font-face {
	font-family: "univers";
	src: url("../assets/univers/UniversLTStd-BoldCn.otf");
	font-weight: bold;
}