/**
 * Font Faces
 */
 @font-face {
	font-family: "proxima";
	src: url("../assets/proxima/ProximaNova-Light.otf");
	font-weight: normal;
}
@font-face {
	font-family: "proxima";
	src: url("../assets/proxima/ProximaNova-LightItalic.otf");
	font-style: italic;
}
@font-face {
	font-family: "proxima";
	src: url("../assets/proxima/ProximaNova-Bold.otf");
	font-weight: bold;
}