.form-content, .form-input {
	text-align: left;
	font-size: 1.2rem;
	line-height: 1.4em;
}

.form-button:hover, .form-uploader, .form-label {
	cursor: pointer;
}

.form-label.no-pointer {
	cursor: initial;
}

.form-block {
	display: block;
	margin: 0 auto;
	padding: 1rem;

	&.first {
		padding-top: 0;
	}
	&.last {
		padding-bottom: 0;
	}
}

.form-error {
	background-color: tomato;
	margin-bottom: 1rem;
	padding: 0.3rem 1rem;
	color: white;
	word-wrap: break-word;
}

.form-label, .form-input, .form-select {
	display: block;
	width: 100%;
}

.form-input {
	font-family: "proxima", Helvetica, Arial, sans-serif;
	line-height: 1.7em;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 4px;

	&.border {
		border: 1px solid #434343;
	}
	&.inline {
		display: inline;
	}
	&.hidden {
		display: none;
		visibility: hidden;
	}
}

.form-radio {
	position: relative;
	transform: scale(1);
	margin: 0 10px 0 24px;
	top: -2px;
}

.form-select {
	font-size: 1.3rem;
	height: 2em;
}

.form-color {
	height: 50px;
	width: 100px;
	padding: 0;
	border: none;
	background-color: white;
}

.form-button {
	background-color: #eee;
	border: 1px solid #999;
	font-size: 1rem;
	padding: 0.3em 0.8em;
	min-width: 6rem;
	text-align: center;
	display: inline-block;

	&:hover {
		background-color: #ddd;
	}
}

.form-uploader-ratio {
	width: 100%;
	position: relative;
	padding-top: 66.66%;
}

.form-uploader {
	display: block;
	border: 6px dashed #ccc;
	color: #ccc;
	background-color: #eee;
	font-size: 5em;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	height: 100%;

	&.add-sign::after {
		content: "+";
		text-align: center;
		display: block;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

	&.dragging {
		background-color: #ddd;
	}

	> img {
		width: 100%;
		display: block;
	}
}

.form-info {
	padding: .4rem 1rem;
	background-color: #EAF2FA;
	border-radius: 3px;
	border: 1px solid #aaa;
}

.form-info__small-text {
	font-size: .8em;
	font-style: italic;
	color: #777;
	margin-left: .6rem;
}

.form-progress-bar {
	height: .3rem;
}

.form-progress-bar--progress {
	background-color: #5c7aff;
	display: block;
	height: 100%;
	width: 0;
}