/**
 * Photography Grid
 */

.photoWall {

	.gutter-sizer {
		width: $photo-grid-gutter;
	}

	.masonry-brick {
		width: calc(25% - #{$photo-grid-gutter});
		margin-bottom: ($photo-grid-gutter - 4px);

		img {
			width: 100%;
		}

		@media screen and (max-width: $break-lgr) {
			width: calc(33.33333% - #{$photo-grid-gutter});
		}

		@media screen and (max-width: 980px) {
			width: calc(50% - #{$photo-grid-gutter});
		}

		@media screen and (max-width: $break-sm) {
			width: calc(100% - #{$photo-grid-gutter});
		}
	}

	@media screen and (max-width: $break-md) {
		margin-left: $photo-grid-gutter;
	}
}