/**
 * Side Menu
 */
aside {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 25px;
	padding: 3.95rem 2.2rem 2.2rem;
	height: 100%;
	width: 240px;
	letter-spacing: .15em;
	line-height: 2em;
	background-color: rgba(255,255,255,0.9);
	overflow: scroll;

	a {
		text-decoration: none;

		&:hover {
			font-weight: bold;
		}
	}

	.logo {
		display: block;
		padding: 0;
		margin-bottom: 1.5rem;


		img {
			width: 100%;
			margin: 0;
			padding: 0;
			display: block;
		}
	}

	ul {
		list-style: none;
	}

	& > ul {
		padding-left: 20px;
		font-size: 0.9rem;
	}

	li {
		position: relative;
		text-transform: uppercase;

		&.more::before {
			content: "+";
			position: absolute;
			top: -2px;
			left: -22px;
		}
	}

	ul ul {
		font-size: 0.78rem;	// Ideal: 0.8rem
		margin: 0 0 15px 0;
		padding: 0 0 0 12px;
		line-height: 2em;
		letter-spacing: 0.12em; // Ideal: 0.17em? or 0.15em

		li {
			margin: 0; padding: 0;
		}
	}

	@media screen {
		@media (max-width: $break-md) {
			display: none;
		}
	}
}