@import 'settings';
@import 'fontFaces';

a {
	color: inherit;
}


* {
	box-sizing: border-box;
}

.bold {
	font-weight: bold;
}

html,body {
	margin: 0 auto;
	padding: 0;
	font-family: "proxima", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.content {
	margin: $margin-top-bottom auto $margin-top-bottom 20.714285714rem;
	max-width: 1200px;

	@media screen and (max-width: $break-md) {
		margin-left: auto;
	}
}

@import 'sideMenu';

@import 'designGrid';

@import 'galleryView';

@import 'photography';

@import 'about';