@import 'settings';
@import 'fontFaces';

* {
	box-sizing: border-box;
}

a {
	color: inherit;
}

.bold {
	font-weight: bold;
}

html,body {
	margin: 0 auto;
	padding: 0;
	font-family: "proxima", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.content {
	margin: 3.95rem auto $margin-top-bottom 20rem;
	max-width: 1200px;

	@media screen and (max-width: $break-md) {
		margin-left: auto;
	}
}

.content-center {
	width: 100%;
	margin: auto auto;
	max-width: 25rem;
}

.no-scroll {
	overflow: hidden;
}

@import 'globals';

@import 'modal';

@import 'sideMenu';

@import 'designGrid';

@import 'galleryView';

@import 'photography';

@import 'about';

@import 'forms';

@import 'angularjs-color-picker';